In [15]:
import pandas as pd
df = pd.DataFrame({"text":[]})
text = ""
i = 0
with open("pg1041.txt", "r", encoding="utf-8") as f:
    for line in f:
        if len(line) > 10:
            text += line
        if text and len(text) > 3:
            df.loc[i] = [text]
            text = ""
            i += 1

In [16]:
df

                                                   text
0          From fairest creatures we desire increase,\n
1         That thereby beauty’s rose might never die,\n
2            But as the riper should by time decease,\n
3              His tender heir might bear his memory:\n
4      But thou, contracted to thine own bright eyes,\n
...                                                 ...
2150      Which from Love’s fire took heat perpetual,\n
2151             Growing a bath and healthful remedy,\n
2152    For men diseased; but I, my mistress’ thrall,\n
2153      Came there for cure and this by that I pro...
2154      Love’s fire heats water, water cools not l...

[2155 rows x 1 columns]

In [8]:
df

Empty DataFrame
Columns: [text]
Index: []